.wpdb-crud-wrap form table tr th:first-child {
	text-align: right;
	width: 100px;
}

.wpdb-crud-wrap form table tr td:last-child {
	min-width: 300px;
}

.wpdb-crud-wrap form table input {
	width: 100%;
}

.wpdb-crud-wrap .button-danger {
	border-color: #dc3232 !important;
	border-color: #dc3232 !important;
	background-color: #dc3232 !important;
	color: #fff !important;
}
